<script type="text/javascript" src="/scripts/textdiffer.js" charset="utf-8"></script>
<div id="frame_container">
	<div id="left_frame">
		<div id="left" contenteditable></div>
	</div>
	<div id="right_frame">
		<div id="right" contenteditable></div>
	</div>
</div>