<script type="text/javascript" src="/scripts/main.js" charset="utf-8"></script>

<h1>TextDiffer</h1>

<div id="frame_container">
	<div id="left_frame">
		<textarea id="left_text_area"></textarea>
		<div id="left_result"></div>
	</div>
	<div id="right_frame">
		<textarea id="right_text_area"></textarea>
		<div id="right_result"></div>
	</div>
</div>
<div id="bottom">
	<input type="button" id="diff" value="Diff"></input>
	<input type="button" id="edit" value="Edit"></input>
</div>