<form method="post">
	<textarea name="left"><%= left if defined?(left) %></textarea>
	<textarea name="right"><%= right if defined?(right) %></textarea>
	<input type="submit" value="Diff"></input>
	<div>
	<%= result if defined?(result) %>
	</div>
</form>