*{margin: 0;}
div#frame_container
{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}

div#left_frame, div#right_frame
{
	width: 50%;
}

div#left_frame
{
	float: left;
}

div#right_frame
{
	float: right;
}

div#left, div#right
{
	width: 100%;
	height: 100%;
	min-height: 100px;
	border: 1px solid black;	
}