* {
	margin: 0;
}

body {
	font-family: Nobile;
}

h1 {
	margin-top: 20px;
	text-align: center;
}

#frame_container {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}

#left_frame, #right_frame {
	width: 50%;
}

#left_frame {
	float: left;
}

#right_frame {
	float: right;
}

#left_result, #right_result, #left_text_area, #right_text_area
{
	font-family: Lucida Console, Monaco, monospace;
	font-family: Courier New, Courier New, Courier6, monospace;	
}

#left_result, #right_result {
	height: 100%;
	min-height: 100px;
	border: 1px solid ;
}

#left_text_area, #right_text_area {
	min-height: 400px;
	width: 100%;
}

span.change
{
	background-color: #A6C2E0;
}

#bottom
{
	text-align: center;	
}